body {
	-webkit-font-smoothing: antialisased;
	font-family: "Helvetica Neue", Helvetica, Sans-serif;
	padding: 0px;
	margin: 0px;
}
#header {
	height: calc(100% - 14em);
	width: 75%;
	max-width: 1200px;
	margin-top: 13em;
	margin-right: auto;
	margin-left: auto;
	h1 {
		text-align: center;
		color: #00BFFF;
		font-size: 450%;
		font-weight: 100;
		letter-spacing: 0.1em;
		padding-bottom: 3em;
		border-bottom: 1px solid #BDBDBD;
		sup {
			padding: 0.1em;
			letter-spacing: 0em;
			font-size: 35%;
			text-align: center;
			background-color: #2E9AFE;
			width: 2.5em;
			color: white;
			border-radius: .25em;
			font-weight: 200;
		}
	}
	p {
		line-height: 1.75em;
		color: #424242;
		margin: 0 auto;
		width: 650px;
		padding-bottom: 5em;
		font-weight: 200;
	}
}
nav {
	display: none;
	ul {
		list-style-type: none;
		li {
			a {
				color: black;
				text-decoration: none;
			}
		}
	}
}
#info {
	background: url('../img/simple_background2.jpg') center center no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}
